<div class="px-4 py-5 my-5 text-center" data-controller="home">
  <h1 class="display-5 fw-bold">Desáfio CNAB</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">
      Este é um sistema de desafio para processamento de arquivos CNAB.
    </p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <button type="button" class="btn btn-outline-secondary btn-lg px-4" data-home-target="uploadButton" style="display: none;">
        Ir para tela de upload
      </button>
    </div>
  </div>
</div>
