<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card shadow">
        <div class="card-header bg-primary text-white text-center">
          <h3 class="mb-0">Upload de Arquivo CNAB txt</h3>
        </div>
        <div class="card-body">
          <%= form_with url: uploads_path, multipart: true, local: true, class: "needs-validation" do |form| %>
            <div class="mb-3">
              <%= form.label :file, "Selecione o arquivo CNAB:", class: "form-label" %>
              <%= form.file_field :file, class: "form-control", required: true %>
            </div>

            <div class="d-grid">
              <%= form.submit "Enviar Arquivo", class: "btn btn-success btn-lg" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
